.header {
  .nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
    padding: 10px 0;

    .logo {
      &__img {
        width: 32px;
        margin-left: 60px;
      }
    }

    &-list {
      align-self: flex-end;
      width: 50%;
      display: flex;

      &__item {
        font-family: 'Poppins', sans-serif;
        margin-right: 30px;

        &:hover {
          a {
            color: #F07763;
            text-decoration: underline;
          }
        }

        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }

  .home {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      width: 50%;

      .title {
        position: relative;
        text-transform: uppercase;
        font-size: 167px;
        font-family: Athene;
        padding-left: 100px;

        &--one {
          &:before {
            content: '';
            position: absolute;
            top: 0;
            width: 1000px;
            height: 3px;
            left: -100px;
            background-color: #000;
          }

          &:after {
            content: '';
            position: absolute;
            bottom: 25px;
            width: 1000px;
            height: 3px;
            left: -100px;
            background-color: #000;
          }
        }

        &--two {
          &:after {
            content: '';
            position: absolute;
            bottom: 25px;
            width: 1000px;
            height: 3px;
            left: -100px;
            background-color: #000;
          }
        }

        &--three {
          &:after {
            content: '';
            position: absolute;
            bottom: 25px;
            width: 1000px;
            height: 3px;
            left: -100px;
            background-color: #000;
          }
        }
      }
    }

    .right {
      width: 50%;

      .photo {
        margin-top: 50px;
        width: 674px;
        height: 851px;
      }
    }
  }
}
