.header {
  .nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
    padding: 10px 0;

    .logo {
      &__img {
        width: 32px;
        margin-left: 60px;
      }
    }

    &-list {
      align-self: flex-end;
      width: 50%;
      display: flex;

      &__item {
        font-family: 'Poppins', sans-serif;
        margin-right: 30px;

        &:hover {
          a {
            color: #F07763;
            text-decoration: underline;
          }
        }

        a {
          text-decoration: none;
          color: #21386E;
        }
      }
    }
  }

  .home {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;

      .name {
        font-family: 'Poppins', sans-serif;
        padding-bottom: 50px;
        padding-left: 200px;
        letter-spacing: 4px;
        color: #21386E;
        text-align: center;
        user-select: none;
      }

      .title {
        position: relative;
        text-transform: uppercase;
        font-size: 150px;
        font-family: Athene;
        padding-left: 100px;
        color: #21386E;
        user-select: none;

        &--one {
          &:before {
            content: '';
            position: absolute;
            top: -1px;
            width: 840px;
            height: 3px;
            left: -100px;
            background-color: #21386E;
          }

          &:after {
            content: '';
            position: absolute;
            bottom: 24px;
            width: 840px;
            height: 3px;
            left: -100px;
            background-color: #21386E;
          }
        }

        &--two {
          margin-left: 50px;
          top: -26px;

          &:after {
            content: '';
            position: absolute;
            bottom: 24px;
            width: 840px;
            height: 3px;
            left: -150px;
            background-color: #21386E;
          }
        }

        &--three {
          top: -52px;
          left: -150px;

          &:after {
            content: '';
            position: absolute;
            bottom: 23px;
            width: 990px;
            height: 3px;
            left: -100px;
            background-color: #21386E;
          }
        }
      }
    }

    .right {
      width: 50%;

      .photo {
        margin-top: 50px;
        width: 640px;
        height: 800px;
      }
    }
  }
}
